<h3><%= @form.title %></h3>
<h4> Questions list <%= link_to 'New Question', new_user_form_question_path(current_user, @form)%></h4>
<ol>
  <% @questions.each do |q| %>
    <li><b><%= q.question_text %></b></li>
  <% end %>
</ol>
