
<div class="container">
  <div class="row">
    <div class="col">
      <br>      
      <h1> Update answer</h1>
      <%= form_tag(user_form_question_answer_path(answer_index: @index), method: 'put') do %>
        <div class="form-group">
          <%= label_tag(:answer, 'Answer')%>
          <%= text_field_tag(:answer, '', class: 'form-control')%>
        </div>
        <%= submit_tag("Update answer", class: 'btn btn-success w-100') %>
      <% end %>
    </div>
  </div>
</div>           
