<div class="container">
  <div class="row">
    <div class="col">
      <br>    
      <h1> Add new answer </h1>
      <%= form_tag(user_form_question_answers_path, method: 'post') do %>
        <div class="form-group">
          <%= label_tag(:answer, 'Answer')%>
          <%= text_field_tag(:answer, "" ,class: 'form-control')%>
        </div>
        <%= submit_tag("Create answer", class: 'btn btn-success w-100') %>
      <% end %>
    </div>
  </div>
</div>      
