<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% flash.each do |key, value| %>
    <div id="error_explanation">
      <div class="alert alert-#{key}">
        <%= value unless value.blank? %>
      </div>
    </div>
  <% end %>
  <h1> Forms </h1>
  <ul>
    <% @forms.each do |form|%>
      <li>
        <a href="<%= form_path(form.id)%>">
          <%= form.title%>
        </a>
      </li>
    <%end%>
  </ul>
  <%=link_to 'Create new form', new_form_url%>
</body>
</html>