<div class="container-fluid">
  <div class="row">
    <% @forms.each do |form|%>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= form.title%></h4>
          </div>
          <div class="card-body">
            <p class="card-text" ><%= form.description %></p>
            <%= link_to 'View Form', user_form_path(current_user, form.id), class: 'btn btn-primary'%>
            <%= link_to 'Edit', edit_user_form_path(current_user, form.id), class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>